
.content-wrapper{
    box-sizing: border-box;
    /* margin-top: 200px; */
}


.landing-base{
    opacity: 1 !important;
}

.landing-base .header{
    height: 760px;
    position: relative;
    top: -80px;
}

.landing-base .background{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: skewY(12deg);
    transform: skewY(12deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    background: -o-linear-gradient(240deg, #222222 15%, #373737 70%, #3c4859 94%);
    background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
}


.landing-base .background span:nth-child(1) {
    display: none;
    top: 0;
    width: 33.33333%;
    right: -16.66666%;
    background: #373737;
}

.landing-base .background span:nth-child(2) {
    width: 33.33333%;
    top: 0;
    right: 16.66666%;
    left: auto;
    bottom: auto;
    background: #2e2e2e;
}

.landing-base .background span:nth-child(3) {
    width: 33.33333%;
    right: 49.99999%;
    bottom: auto;
    left: auto;
    background: #222222;
}

.landing-base .background span:nth-child(4) {
    width: 33.33333%;
    top: 380px;
    left: -16.66666%;
    background: #383d44;
}

.landing-base .background span:nth-child(5) {
    width: 33.33333%;
    right: 0;
    bottom: 0;
    background: #2e2e2e;
}

.landing-base .background span {
    /* -webkit-transition: 0.4s all;
    -o-transition: 0.4s all; */
    transition: 0.4s all;
    position: absolute;
    height: 190px;
}

.mainDiv{
    position: relative !important;
}


.ipadComp{
    position: absolute !important;
    top: 150px !important;
    left: 164px !important;
}

.imageDiv{
    position: absolute ;
    top: 564px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.clapEmoji{
    width: 20em;
    height: 20em;
}

.buddy{
    font-size: 64px;
    width: 10em;
    /* background-color: red; */
}

.buddy2{
    font-size: 64px;
    width: 12em;
    /* background-color: red; */
}

@media (max-width: 679px) {
    .imageDiv {
        top: 691px;
    }

    .clapEmoji {
        width: 10em;
        height: 10em;
    }
    
    .buddy {
        font-size: 25px;
    }

    .buddy2 {
        font-size: 28px;
    }
    
}

@media (min-width:680px) and (max-width: 991px) {


    .clapEmoji {
        width: 15em;
        height: 15em;
    }

    .imageDiv {
        top: 622px;
    }

    .buddy {
        font-size: 40px;
    }

    .buddy2 {
        font-size: 58px;
    }
    
}

