
.navbaroption{
    position: relative !important;
    z-index: 1000 !important; 
    /* background-color: red !important; */
}

.logoImage{
    width: 4rem;
    height: 4rem;
}

.logoText{
    left: 70px;
    top: 16px;
}

.optionWidth{
    width: 35% !important;
    display: flex;
    gap: 10px;
    /* background-color: red !important; */
    /* display: flex !important;
    justify-content: space-between !important; */
}

.customColor{
    color: #fea116 !important;
}

.contFuild{
    width: 75% !important;
    background-color: burlywood;
}

.active:hover{
    background-color: #fea116;
    color: black !important;
    border-radius: 50px;
}


.signInBtn:hover{
    background-color: white;
    /* height: 100px !important; */
    color: black !important;
    cursor: pointer ;
    border-radius: 50px;
}


@media (max-width: 991px){
    .optionWidth{
        width: 100% !important;
        /* background-color: red !important; */
        /* display: flex !important;
        justify-content: space-between !important; */
    }
}

@media (max-width:1108px) and (min-width: 991px){
    .optionWidth{
        width: 40% !important;
        /* background-color: red !important; */
        /* display: flex !important;
        justify-content: space-between !important; */
    }
}